__pycache__/
*.pyc
*.py[cod]
*$py.class

*.so

.Python
build/
dist/
*.egg-info/
.eggs/
wheels/
pip-wheel-metadata/

.venv/
venv/
ENV/
env/
.env/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
pytest_cache/

.mypy_cache/
.pyre/
.pytype/

.ipynb_checkpoints/

.vscode/
.idea/
*.swp
*.swo
*.swn

.DS_Store
Thumbs.db

*.onnx
*.xml
*.bin
*.h5
*.ckpt
*.pt
*.pth
*.tflite
*.pb

*.avi
*.mp4
*.mov
*.mkv